body {
  padding-top: 50px;
}

.dropdown {
    padding-bottom: 6px;
}

.dropdown .btn {
    width: 100%;
}

.stock, .entry {
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 25px;
    padding: 5px;
}

 .stock h1, .entry h1 {
    text-align: center;
    margin-top: 3px;
}

.xitem {
    display: inline-block;
    padding: 8px;
    margin: 2px;
    border: 2px solid black;
    border-radius: 8px;
    cursor: move;
}

.xitem h4 {
    text-align: center;
    margin: 0px 3px 3px 3px;
}

.mitem {
    cursor: move;
}

.item-title {
    margin-top: 4px;
}

.itemDragArea {
    text-align: left;
    padding: 10px;
    margin-bottom: 2px;
}

.panel-group {
    margin: 0px;
}